{% extends 'base.html' %}
{% load i18n %}

{% block pagetitle %}{% trans "about" %}{% endblock %}

{% block content %}
<h2>Présentation</h2>
<p>
  <strong>{{SITE_NAME}}</strong> est une plate-forme anonyme de partage de contenus, images ou simples textes.<br/>
  Le site ne requiert pas de cŕeation de compte pour participer. Il suffit en effet de créer un nouveau sujet via la page <a href="{% url 'main.views.thread.new' %}">{% trans "participate" %}</a>, ou de répondre à une quelconque discussion.
</p>

<h2>Participer</h2>
<p>
  On distingue deux types de messages: les sujets et les réponses. Les deux sont composés de la même manière: une image et un texte descriptif (l'un ou l'autre peut parfaitement être omis).<br/>
  Ne nécessitant pas de compte utilisateur, le site vous demandera pour chaque message d'entrer un mot de passe: celui-ci servira à pouvoir par la suite éditer ce message ou le supprimer.

  <h3>Markdown</h3>
  Vous pouvez utiliser la syntaxe Markdown lors de la rédaction de vos messages. Vous trouvez <a href="{% url 'main.views.about.markdown' %}">ici</a> la liste des balises disponibles.
</p>

<h2>Anonymat</h2>
<p>
  Toute l'application est parfaitement anonyme, aucune donnée permettant d'identifier l'utilisateur n'est enregistrée.<br/>
  Une seule chose, pour faciliter les discussions, un nom d'auteur est attribué à chaque message. Ce nom est généré en fonction du sujet en cours, et du mot de passe entré. C'est à dire que si vous utilisez toujours le même mot de passe au sein d'une même discussion, vos messages apparaîtront sous le même nom d'auteur.
</p>

<h2>Sources</h2>
<p><strong>Rodolphe</strong> est un projet libre, diffusé sous licence <em>BSD</em>, dont les sources sont accessibles à cette adresse: {{"https://github.com/entwanne/Rodolphe"|urlize}}</p>
{% endblock %}
