{% extends 'bootstrap3/bootstrap3.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% load macros %}

{% define pagetitle %}{% block pagetitle %}{% endblock %}{% enddefine %}
{% block bootstrap3_title %}{{SITE_NAME}} - {% # pagetitle %}{% endblock %}

{% block bootstrap3_content %}
<div class="container">
  <div class="page-header">
    <h1>{{SITE_NAME}} <small>{% # pagetitle %}</small></h1>
  </div>

  <nav class="navbar" role="navigation">
    <ul class="nav navbar-nav">
      <li><a href="{% url 'post.views.home' %}">{% bootstrap_icon "home" %} {% trans "home" %}</a></li>
      <li><a href="{% url 'post.views.new' %}">{% bootstrap_icon "plus" %} {% trans "participate" %}</a></li>
      <li><a href="{% url 'post.views.about' %}">{% bootstrap_icon "info-sign" %} {% trans "about" %}</a></li>
    </ul>
  </nav>
  
  {% bootstrap_messages %}
  
  <a name="content"></a>
  {% block content %}(no content){% endblock %}
</div>

<style>
  blockquote p {
    font-size: 13px;
  }
</style>
<script type="text/javascript">
  function quote_post(url) {
    textarea = "textarea#id_content";
    content = $(textarea).val();
    if (content)
      content += "\r\n";
    $.getJSON(url, function(post) {
      content += "&#" + post.id + " **" + post.author + "** " + '{% trans "wrote" %}' + "\r\n";
      $.each(post.content.split("\r\n"), function(i, line) {
        content += "> " + line + "\r\n";
      });
      content += "\r\n";
      $(textarea).val(content);
    });
  }
</script>
{% endblock %}
