{% extends 'bootstrap3/bootstrap3.html' %}
{% load bootstrap3 %}
{% load get_set %}

{% set foo %}AAA{% endset %}

{% block bootstrap3_content %}
<div class="container">
  <div class="page-header">
    <h1>{% block bootstrap3_title %}Ich bin Rodolphe - {% block title %}{% endblock %}{% endblock %}{% get foo %}</h1>
  </div>
  
  <p>
    <a href="{% url 'post.views.home' %}">home</a>
    <a href="{% url 'post.views.new' %}">New post</a>
  </p>
  
  {% bootstrap_messages %}
  
  {% block content %}(no content){% endblock %}
</div>
{% endblock %}
