{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% load get_set %}

{% set pagetitle %}{% trans "deletion of post" %}{% endset %}

{% block content %}
<p>
  <a href="{% url 'post.views.view' post.thread.id %}" class="btn btn-default pull-right">
    {% bootstrap_icon "hand-left" %} {% trans "back" %}
  </a>
  <h2>{% trans "deleting post" %} {{post}}</h2>
</p>
<hr/>

<form method="post">{% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
  <button type="submit" class="btn btn-primary">
    {% bootstrap_icon "ok" %} {% trans "delete" %}
  </button>
  {% endbuttons %}
</form>
{% endblock %}
