{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block pagetitle %}{% trans "new thread" %}{% endblock %}

{% block content %}
<h2>{% trans "creating new thread" %}</h2>
<hr/>
<form action="{% url 'post.views.new' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
  <h3><a href="{% url 'post.views.markdown' %}">{% trans "markdown tags" %}</a></h3>
  {% bootstrap_form form %}
  {% buttons %}
  <button type="submit" class="btn btn-primary">
    {% bootstrap_icon "plus" %} {% trans "create" %}
  </button>
  {% endbuttons %}
</form>
{% endblock %}
