{% load i18n %}
{% load markup %}
{% load bootstrap3 %}
<a id="p{{post.id}}"></a>
<div class="panel {% if header %}panel-info{% else %}panel-default{% endif %}">
  <div class="panel-heading">
    {% if editable %}
    <div class="btn-group pull-right">
      {% if post.old_post %}
      <a href="{%url 'post.views.history' post.id %}" title="{% trans 'history' %}" class="btn btn-info btn-xs">
	{% bootstrap_icon "time" %}
      </a>
      {% endif %}
      <a href="{%url 'post.views.edit' post.id %}" title="{% trans 'edit' %}" class="btn btn-warning btn-xs">
	{% bootstrap_icon "edit" %}
      </a>
      <a href="{%url 'post.views.delete' post.id %}" title="{% trans 'delete' %}" class="btn btn-danger btn-xs">
	{% bootstrap_icon "remove" %}
      </a>
    </div>
    {% endif %}
    
    {% if headerlink %}<a href="{% url 'post.views.view' post.id %}">{% bootstrap_icon "link" %} {% endif %}
      <b>{{post}}</b>
    {% if headerlink %}</a>{% endif %}
    {% trans "by_author" %} <b>{{post.author}}</b>
    {% trans "the_date" %} <i>{{ post.created_at|date:"DATE_FORMAT" }}</i>
    {% trans "at_time" %} <i>{{ post.created_at|time:"TIME_FORMAT" }}</i>
    {% if post.updated_at %}
    <small>
      ({% trans "edited" %}
      {% trans "the_date" %} <i>{{ post.updated_at|date:"DATE_FORMAT" }}</i>
      {% trans "at_time" %} <i>{{ post.updated_at|time:"TIME_FORMAT" }}</i>
      )
    </small>
    {% endif %}
  </div>
  <div class="panel-body">
    {% if post.picture %}
    <a href="{{MEDIA_URL}}{{post.picture}}">
      <img class="img-thumbnail" src="{{MEDIA_URL}}{{post.picture}}" style="max-width:300px; max-height: 300px;" />
    </a>
    {% endif %}
    {{post.content|markdown}}<br/>
    {% if headerlink %}
    {{post.responses|length}} {% trans "response" %}{{post.responses|pluralize}}
    <a href="{% url 'post.views.view' post.id %}" class="btn btn-default pull-right">{% trans "read thread" %}</a>
    {% endif %}
  </div>
</div>
