{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}Post {{post}}{% endblock %}

{% block content %}
{% include 'post_content.html' %}

{% if post.responses %}
<ul>
  {% for resp in post.responses %}
  <li>
    {% include 'post_content.html' with post=resp %}
  </li>
  {% endfor %}
</ul>
{% endif %}

<form method="post">{% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
  <button type="submit" class="btn btn-primary">
    {% bootstrap_icon "star" %} Post
  </button>
  {% endbuttons %}
</form>
{% endblock %}
