{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block pagetitle %}{% trans "reading thread" %} - {{post}}{% endblock %}

{% block content %}
<h2>{{post}}</h2>
<hr/>
{% include 'post_content.html' with header=True editable=True %}

{% if post.responses %}
{% for resp in post.responses %}
{% include 'post_content.html' with post=resp editable=True %}
{% endfor %}
{% endif %}

<hr/>
<h2>{% trans "respond to thread" %} {{post}}</h2>
<form method="post" enctype="multipart/form-data">{% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
  <button type="submit" class="btn btn-primary">
    {% bootstrap_icon "plus" %} {% trans "respond" %}
  </button>
  {% endbuttons %}
</form>
{% endblock %}
